* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #ffffff;
    height: 60px;
    box-shadow: 0px 16px 8px rgb(132 128 128 / 8%);
}

h1 {
    /* color: darkgray; */
    color: #5ab1a9;
    text-align: center;
    margin: 40px 30px 0px;
}

h2 {
    color: #a778b6;
    /* color: #56568e; */
    font-family: "Space Mono";
    text-align: center;
    font-weight: 100;
    margin: 20px;
}

a {
    color: #6ed4c3;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 1.6em;
}

a:hover {
    color: #5ab1a9;
}

p {
    margin: 10px 0;
}

/* 
hr {
    width: 100%;
    border: 1px darkgray dashed;
} */

.main-con {
    display: flex;
    justify-content: center;
}

.center-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.con {
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px);
    /* flex-direction: column; */
    /* align-items: center;
    margin: 0 auto; */
    /* background-color: #262323; */
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #262323;
}

.intro > p {
    width: 50%;
    text-align: center;
    align-self: center;
    line-height: 1.4em;
    color: darkgray;
}

/* .logo2 {
    width: 20%;
    padding: 20px;
} */

.logo {
    width: 250px;
    padding: 12px;
}

.reg-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    font-size: 1em;
    padding: 13px 11px;
    margin: 5px 20px;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid darkgrey !important;
    color: #5ab1a9;
}

input:hover,
input:active,
input:focus {
    outline: none;
}

input:-webkit-autofill {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191814 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    /* color: white; */
    opacity: 1; /* Firefox */
}

.btn {
    padding: 10px 14px;
    min-width: 140px;
    border-radius: 40px;
    background-color: #5ab1a9;
    border: 1px solid #00af91;
    font-family: "Space Mono", monospace;
    font-size: 18px;
    margin: 30px 20px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #fff;
}

.btn:hover {
    background-color: #6ed4c3;
    border: 1px solid #00af91;
    transition: all 0.3s;
}

@media only screen and (max-width: 600px) {
    .con {
        flex-direction: column;
    }

    .intro {
        height: 100%;
    }

    .center-box {
        height: 100%;
    }

    .btn {
        width: 80%;
        padding: 20px;
    }
}
