* {
    box-sizing: border-box;
    margin: 0;
}

/* .border-green {
    border: 5px green solid;
}
.border-orange {
    border: 5px orange solid;
}
.border-acqua {
    border: 5px aquamarine solid;
}
.border-purple {
    border: 5px purple solid;
}
.border-pink {
    border: 5px pink solid;
}
.border-flamingo {
    border: 5px rgb(194, 92, 92) solid;
}
.border-blue {
    border: 5px blue solid;
} */

body {
    background-color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

header {
    background-color: #262323;
    box-shadow: 0px 16px 8px rgb(132 128 128 / 8%);
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

h1 {
    color: #5ab1a9;
    text-align: center;
    margin: 50px 30px 0px;
    font-size: 1.9em;
}

h2 {
    /* color: #a778b6; */
    color: black;
    font-family: "Space Mono";
    text-align: center;
    font-weight: 100;
    margin: 20px 0;
    font-size: 1.5em;
}

h3 {
    color: #56568e;
    font-family: "Space Mono";
    margin: 20px 0;
    text-align: center;
}

a {
    /* color: #5ab1a9; */
    color: #008f82;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 1.6em;
}

a:hover {
    color: #6ed4c3;
}

p {
    margin: 10px;
    font-size: 24px;
}

.menu-right {
    display: flex;
    align-items: center;
    padding-right: 1%;
}

.nav-icon {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    margin: 0 20px;
}

nav a:hover {
    color: #d4f1ef;
}

nav ul {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin: 10px 15px;
}
nav ul li {
    list-style-type: none;
}

nav ul li a {
    margin: 20px;
    color: #7ecdc5;
}

.active,
.active:hover {
    /* color: #cfa7d7; */
    color: white;
    cursor: default;
    /* text-decoration: underline; */
}

.active-b {
    color: #ffffff !important;
    font-weight: bold;
}

.giphy-embed {
    margin-top: 40px;
}

.error {
    margin: 20px 0;
    color: #dc28fb;
    text-align: center;
    font-family: "Space Mono";
}

.center-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.welcome {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #262323;
}

.intro > h2 {
    color: #a778b6;
}

.intro > p {
    width: 70%;
    text-align: center;
    align-self: center;
    line-height: 1.4em;
    color: darkgray;
}

.logo {
    width: 65%;
}

.intro .logo {
    width: 35%;
    max-width: 40%;
}

.logo-link {
    max-width: 55%;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.reg-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

textarea {
    margin: 0px;
    max-width: 800px;
    min-width: 400px;
    min-height: 200px;
    height: 222px;
    width: 600px;
    font-size: 24px;
    padding: 20px 10px;
    font-family: "Montserrat";
    color: #00af91;
    background: content-box;
    border-radius: 20px;
}

textarea:focus {
    outline: none;
}

.chat-area {
    margin-top: 30px;
    min-height: auto;
    height: 100px;
    min-height: 50px;
    max-width: 80%;
}

.chat-user {
    display: flex;
    align-items: center;
}

.chat-user > p {
    color: gray;
    font-size: 0.8em;
}

input {
    width: 350px;
    font-size: 1em;
    padding: 13px 11px;
    margin: 5px 20px;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid darkgrey !important;
    color: #5ab1a9;
}

input:hover,
input:active,
input:focus {
    outline: none;
}

input:-webkit-autofill {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191814 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    /* color: white; */
    opacity: 1; /* Firefox */
}

.input-file {
    border-bottom: none !important;
    min-width: 330px !important;
    font-size: 25px;
    margin: 0;
    color: white;
}

.find-people {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    min-height: 89vh;
}

.btn {
    padding: 10px 20px;
    min-width: 160px;
    border-radius: 40px;
    background-color: #5ab1a9;
    border: 1px solid #00af91;
    font-family: "Space Mono", monospace;
    margin: 30px 20px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #fff;
    font-size: 24px;
}

.btn:hover {
    background-color: #6ed4c3;
    border: 1px solid #00af91;
    transition: all 0.3s;
}

.btn:focus,
.btn:active {
    outline: none;
}

.btn.user {
    border-radius: 40px;
    background-color: #d4f2ef;
    border: 1px solid #00af91;
    margin: 30px 0px 0;
}

.btn.upload {
    color: white;
    border: white 1px solid;
}

.btn.upload:hover {
    color: black;
    background-color: #fff;
}

.btn.user:hover {
    background-color: #6ed4c3;
}

.btn.ghost {
    justify-self: center;
    background-color: #fff;
    color: #00af91;
    margin: 20px 0px 0px;
}

.btn.ghost:hover {
    border: 1px solid black;
    color: black;
}

footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-note {
    font-size: 0.8em;
}

.bg-img {
    width: 100%;
    height: auto;
    object-fit: cover;

    /* background-repeat: no-repeat; */
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.9)
        ),
        url(/images/bg.jpg);
    background-position: center center;
    display: block;
    position: relative;
    background-size: cover;
}

/* Components*/

.connected-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #d4f2ef;
}

.connected {
    display: flex;
    align-items: center;
    justify-content: center;
}

.del-link {
    margin: 40px;
    color: black;
    text-decoration: underline;
}

.del-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 40px;
    border: 1px black dotted;
    border-radius: 7px;
}

.connencted > button {
    margin: 20px !important;
}

.messages-display {
    height: 730px;
    overflow-y: scroll;
    padding: 0 20px;
    min-width: 30%;
}

.message {
    margin: 30px 0;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

.message.my {
    background-color: #e6dcf6;
}

.burger {
    background-color: #6ed4c3;
    width: 100%;
    min-height: 30%;
    position: absolute;
    display: flex;
    z-index: 300;
    top: 105px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
}

.burger nav {
    display: flex;
    z-index: 300;
    top: 110px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
}

.burger a {
    color: black;
    margin: 20px 40px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    height: calc(100vh - 100px);
    padding-bottom: 60px;
}

.profile.high {
    min-height: 89vh;
}

.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    /* padding: 20px 0 100px; */
    border-bottom: 4px dotted black;
    /* border-bottom: 4px dotted #a778b6; */
}

.friends > h1 {
    width: 100%;
}

.other-con {
    background-color: rgb(234 237 241);
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.other-friends {
    display: grid;
    flex-wrap: wrap;
    min-height: 300px;
    padding: 30px 0 40px;
    width: 80%;
    align-self: center;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.icons {
    display: flex;
    margin: 20px 0;
    max-height: 50px;
}

.friends-con:last-child {
    border-bottom: none;
}

/* .friends:last-child {
    border-bottom: none;
} */

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 50px 50px 10px;
    object-fit: cover;
}

.profile-pic.small {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0px;
    cursor: pointer;
    padding: 12px;
}

.profile-pic.other {
    width: 100px;
    height: 100px;
    margin: 0px;
    cursor: pointer;
    border-radius: 7px;
}

.profile-pic img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
}

.other-friend-box {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 400px;
}

.user-search {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 420px;
}

.user-search img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* border-radius: 50%; */
    border-radius: 7px;
}

.user-search p,
.other-friend-box p {
    margin: 20px;
}

.con-bg {
    background-color: rgb(245, 234, 234);
}

.icon {
    width: 45px;
    cursor: pointer;
    margin: 0 20px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* width: 100vw; */
}

.uploader {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    width: 100%;
    top: 105px; */
    background: linear-gradient(
        360deg,
        rgb(68 68 114) 0%,
        rgb(142 95 180) 100%
    );
}

.search-con {
    border: 1px solid black;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    align-self: center;
    margin: 40px 0;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.bio > p {
    max-width: 800px;
    margin: 40px;
}

@media only screen and (max-width: 700px) {
    .welcome {
        flex-direction: column;
    }

    .intro {
        height: 100%;
    }

    .intro > p {
        width: 90%;
        margin-bottom: 70px;
    }

    .center-box {
        height: 100%;
    }

    .btn,
    .btn.user {
        width: 80%;
        padding: 20px;
    }

    h1 {
        font-size: 1.7em;
        margin: 50px 10px 0px;
    }
    h2 {
        font-size: 1.3em;
        margin-top: 50px;
    }

    p {
        font-size: 0.9em;
    }

    .bio {
        width: 80%;
    }
}
